

/* descktop */
@media (max-width: 1440px) {}

@media (max-width: 1320px) {}

@media (max-width: 1290px) {}

@media (max-width: 1170px) {}

@media (max-width: 1140px) {}

@media (max-width: 1024px) {}

/* Tab */
@media (max-width: 992px) {}

@media (max-width: 850px) {}

/* Mobile */
@media (max-width: 768px) {
    .container {
        max-width: 688px;
        width: 100%;
        margin: auto;
        overflow: hidden;
    }
    .hero-d-flex {
        display: flex;
        column-gap: 60px;
        align-items: center;
    }
    .site-hero__title {
        max-width: 339px;
        width: 100%;
        font-size: 48px;
        font-weight: 900;
        line-height: 48px;
    }
    .site-hero__text {
        max-width: 339px;
        width: 100%;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
    }
    .mechanical-d__flex {
        display: flex;
        flex-wrap: wrap;
    }
    .mechanical-card__img { 
        column-gap: 13px;
    }
    .mechanical-card_imag {
        width: 420px;
        border-radius: 10px;
    }
    .mechanical-info {
        display: flex;
        padding-top: 60px;
    }
    .mechanical-text {
        padding: 0;
    }
    .icon-cards {
        padding-bottom: 24px;
    }
}

@media (max-width: 684px) {}

/* mobile < 576 */
@media (max-width: 576px) {
    .container {
        max-width: 526px;
        width: 100%;
        margin: auto;
    }
    .d-flex {
        display: flex;
        align-items: center;
    }
    .hero-d-flex {
        display: flex;
        flex-wrap: wrap;
    }
    .all-btn {
        width: 190px;
        height: 60px;
    }
    .site-hero__info {
        max-width: 526px;
        width: 100%;
    }
    .site-hero__title {
        max-width: 526px;
        width: 100%;
        font-size: 48px;
        font-weight: 900;
        line-height: 48px;
        text-align: center;
    }
    .site-hero__text {
        max-width: 527px;
        width: 100%;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        text-align: center;
    }
    .hero-btn {
        display: flex;
        justify-content: space-between;
    }
    .site-hero__image {
        width: 526px;
    }
    .mechanical-d__flex {
        display: flex;
        flex-wrap: wrap;
    }
    .mechanical-card_image {
        width: 210px;    
    }
    .mechanical-card_imag{
        width: 290px;
        border-radius: 10px;
    }
    .box {
        width: 210px;
    }
    .mechanical-card__img {
        display: flex;
        column-gap: 20px;
    }
    .mechanical-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding-top: 50px;
        row-gap: 24px;
    }
    .mechanical-title {
        width: 500px;
        text-align: center;
    }
    .mechanical-text {
        width: 500px;
        text-align: center;
    }
    .icon-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .icon-title {
        width: 490px;
        font-size: 30px;
        font-weight: 900;
        line-height: 38px;
        padding-top: 48px;
        text-align: center;
    }
    .icon-text {
        width: 470px;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        text-align: center;
        padding-bottom: 64px;
    }
    .footer-text {
        width: 272px;
    }
}

@media (max-width: 480px) {
    .container {
        max-width: 440px;
        width: 100%;
        margin: auto;
    }
    .d-flex {
        display: flex;
        align-items: center;
    }
    .hero-d-flex {
        display: flex;
        flex-wrap: wrap;
    }
    .all-btn {
        width: 190px;
        height: 60px;
    }
    .site-hero__info {
        max-width: 526px;
        width: 100%;
    }
    .site-hero__title {
        max-width: 430px;
        width: 100%;
        font-size: 48px;
        font-weight: 900;
        line-height: 48px;
        text-align: center;
    }
    .site-hero__text {
        max-width: 430px;
        width: 100%;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        text-align: center;
    }
    .hero-btn {
        display: flex;
        justify-content: space-between;
    }
    .site-hero__image {
        width: 430px;
    }
    .mechanical-d__flex {
        display: flex;
        flex-wrap: wrap;
    }
    .mechanical-card_image {
        width: 180px;    
    }
    .mechanical-card_imag{
        width: 240px;
        border-radius: 10px;
    }
    .box {
        width: 180px;
    }
    .mechanical-card__img {
        display: flex;
        column-gap: 10px;
    }
    .mechanical-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding-top: 50px;
        row-gap: 24px;
    }
    .mechanical-title {
        width: 430px;
        text-align: center;
    }
    .mechanical-text {
        width: 430PX;
        text-align: center;
    }
    .icon-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .icon-title {
        width: 420px;
        font-size: 30px;
        font-weight: 900;
        line-height: 38px;
        padding-top: 48px;
        text-align: center;
    }
    .icon-text {
        width: 410px;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        text-align: center;
        padding-bottom: 64px;
    }
    .footer-text {
        width: 272px;
    }
}

@media (max-width: 412px) {
    .container {
        max-width: 380px;
        width: 100%;
        margin: auto;
    }
    .d-flex {
        display: flex;
        align-items: center;
    }
    .hero-d-flex {
        display: flex;
        flex-wrap: wrap;
    }
    .all-btn {
        width: 160px;
        height: 55px;
    }
    .site-hero__info {
        max-width: 380px;
        width: 100%;
    }
    .site-hero__title {
        max-width: 375px;
        width: 100%;
        font-size: 48px;
        font-weight: 900;
        line-height: 48px;
        text-align: center;
    }
    .site-hero__text {
        max-width: 370px;
        width: 100%;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        text-align: center;
    }
    .hero-btn {
        display: flex;
        justify-content: space-between;
    }
    .site-hero__image {
        width: 380px;
    }
    .mechanical-d__flex {
        display: flex;
        flex-wrap: wrap;
    }
    .mechanical-card_image {
        width: 150px;    
    }
    .mechanical-card_imag{
        width: 215px;
        border-radius: 10px;
    }
    .box {
        width: 150px;
    }
    .mechanical-card__img {
        display: flex;
        column-gap: 10px;
    }
    .mechanical-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding-top: 50px;
        row-gap: 24px;
    }
    .mechanical-title {
        width: 300px;
        text-align: center;
    }
    .mechanical-text {
        width: 300PX;
        text-align: center;
    }
    .icon-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .icon-title {
        width: 290px;
        font-size: 30px;
        font-weight: 900;
        line-height: 38px;
        padding-top: 48px;
        text-align: center;
    }
    .icon-text {
        width: 280px;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        text-align: center;
        padding-bottom: 64px;
    }
    .footer-text {
        width: 272px;
    }
}

@media (max-width: 375px) {
    .d-flex {
        display: flex;
        align-items: center;
        column-gap: 130px;
    }
    .container {
        max-width: 327px;
        width: 100%;
        margin: auto;
    }
    .hero-d-flex {
        display: flex;
        flex-wrap: wrap;
    }
    .all-btn {
        width: 150px;
        height: 48px;
    }
    .site-hero__title {
        max-width: 327px;
        width: 100%;
        font-size: 48px;
        font-weight: 900;
        line-height: 48px;
    }
    .site-hero__text {
        max-width: 327px;
        width: 100%;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
    }
    .mechanical-d__flex {
        display: flex;
        flex-wrap: wrap;
    }
    .mechanical-card_imag{
        width: 183px;
        border-radius: 10px;
    }
    .mechanical-card_image {
        width: 130px;    }
    .box {
        width: 130px;
    }
    .mechanical-card__img {
        display: flex;
        column-gap: 13px;
    }
    .mechanical-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding-top: 50px;
        row-gap: 24px;
    }
    .mechanical-title {
        text-align: center;
    }
    .mechanical-text {
        text-align: center;
    }
    .icon-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .icon-title {
        text-align: center;
    }
    .icon-text {
        text-align: center;
        padding-bottom: 64px;
    }
    .footer-text {
        width: 272px;
    }
}

@media (max-width: 320px) {}